%p
  Page
  = comments.page
%p
  - if comments.page == 1
    %a{ :href => shot_path(shot.id, :comments_page => comments.page + 1) } More
    %a{ :href => shot_path(shot.id, :comments_page => comments.pages) } Last
  - if comments.page > 1 && comments.page < comments.pages
    %a{ :href => shot_path(shot.id) } First
    %a{ :href => shot_path(shot.id, :comments_page => comments.page - 1) } Back
    %a{ :href => shot_path(shot.id, :comments_page => comments.page + 1) } More
    %a{ :href => shot_path(shot.id, :comments_page => comments.pages) } Last
  - if comments.page == comments.pages
    %a{ :href => shot_path } First
    %a{ :href => shot_path(shot.id, :comments_page => comments.page - 1) } Back
%table
  - comments.each do |comment|
    %tr
      %td
        %img{ :src => comment.player.avatar_url, :style => 'text-align: left' }
      %td= comment.player.name
      %td= comment.body
