- @shots.each do |shot|
  %a{:href => shot_path(shot.id)}
    = image_tag shot.image_url
  .stats-container
    .stats-tooltip-border
    .stats-tooltip
    %ul.stats
      %li.views 
        = shot.views_count
      %li.comments 
        = shot.comments_count
      %li.likes 
        = shot.likes_count
      %li.view
        %a{:href => shot_path(shot.id)} view &raquo;