#header
  %h1.hooppps hooppps
  %a.about{:href => '#about'} About
#content
  - @shots.each do |shot|
    %a{:href => shot_path(shot.id)}
      = image_tag shot.image_url
    %br
#about
  %h2 About
  %p 
    Hooppps was created by 
    %a{:href => 'http://thinkrelevance.com', :target => '_blank'} Relevance, Inc. 
    Hooppps is built on Rails and uses the 
    %a{:href => 'http://github.com/jeremyw/swish'} swish 
    gem. The code is hosted on 
    %a{:href => 'http://github.com/relevance/hooppps'} github 
    and is ready for your design/dev love. 
  %p.copyright hooppps is in no way affiliated with dribbble but is obviously a huge fan!
    