%ul.player_stats
  %li 
    Shots
    %span= @player.shots_count
  %li 
    Draftees
    %span= @player.draftees_count
  %li 
    Followers
    %span= @player.followers_count
  %li 
    Following
    %span= @player.following_count