html {-webkit-text-size-adjust:none}
body {
  background-color: #b0b0b0;
  color: #222;
  font-family: Helvetica; 
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: none;
}
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
h3 {
  font-weight: normal;
}
#header {
    border-bottom: 1px solid #8d98a0;
    height: 45px;
    background: url(img/toolbar.png) 0 0 #6d84a2 repeat-x;
    width: 100%;
}
#header h1.hooppps {
  text-indent: 37px;
  line-height: 45px;
  overflow: hidden;
  background: transparent url(img/hooppps.png) 0 5px no-repeat;
  height: 45px;
  width: 120px;
  margin: 0;
  top: 0;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  font-size: 18px;
  color: #2e3439;
  text-shadow: 0px 1px 1px #8d98a0;
}
#header .back_button {
  left: 10px;
  top: 8px;
  padding: 5px 7px;
  position: absolute;
  -webkit-box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  background: #EA4C88 url(img/buttons/glare.png) 0 0 repeat-x;
  font-weight: bold;
}
#header .about {
  right: 10px;
  top: 8px;
  padding: 5px 7px;
  position: absolute;
  -webkit-box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  background: #EA4C88 url(img/buttons/glare.png) 0 0 repeat-x;
  font-weight: bold;
}
#content {
  padding: 10px;
}
#content img {
  max-width: 100% !important;
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}
#content a {
  color: #fff;
}
#about {
  display: none;
  margin: 10px;
  border: 1px solid #666;
  background: #ebebeb;
  padding: 10px;
  border-radius: 4px;
}
#about a {
  color: #EA4C88;
}