/* basic html
---------------------------------------------*/
html {-webkit-text-size-adjust:none}
body {
  background-color: #b0b0b0;
  color: #222;
  font-family: Helvetica; 
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: none;
}
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

h3 {
  font-weight: normal;
}


/* structure & #content specified text
---------------------------------------------*/
#header {
    border-bottom: 1px solid #8d98a0;
    height: 45px;
    background: url(img/toolbar.png) 0 0 #6d84a2 repeat-x;
    width: 100%;
}
#content {
  padding: 10px;
}
#content img {
  max-width: 100% !important;
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}
#content h3 {
  font-weight: bold;
  text-shadow: 0px 1px 1px #eee;
}

/* header
---------------------------------------------*/
#header h1.hooppps {
  text-indent: 37px;
  line-height: 45px;
  overflow: hidden;
  background: transparent url(img/hooppps.png) 0 5px no-repeat;
  height: 45px;
  width: 120px;
  margin: 0;
  top: 0;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  font-size: 18px;
  color: #2e3439;
  text-shadow: 0px 1px 1px #8d98a0;
}
#header a.back_button:link,
#header a.back_button:visited {
  left: 10px;
  top: 8px;
  padding: 5px 7px;
  position: absolute;
  -webkit-box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  background: #EA4C88 url(img/buttons/glare.png) 0 0 repeat-x;
  font-weight: bold;
  text-shadow: 0px 1px 1px #a14266;
}
#header a.about:link,
#header a.about:visited {
  right: 10px;
  top: 8px;
  padding: 5px 7px;
  position: absolute;
  -webkit-box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  background: #EA4C88 url(img/buttons/glare.png) 0 0 repeat-x;
  font-weight: bold;
  text-shadow: 0px 1px 1px #a14266;
}
#header a.about:active,
#header a.back_button:active {
  background: #ae446e url(img/buttons/glare.png) 0 0 repeat-x;
}


/* about
---------------------------------------------*/
#about {
  display: none;
  margin: 10px;
  border: 1px solid #666;
  background: #ebebeb;
  padding: 10px;
  border-radius: 4px;
}
#about a {
  color: #EA4C88;
}


/* shot stats
---------------------------------------------*/
#content ul.stats {
  margin: 10px 0;
  background: #9d9fa1;
  border: 1px solid #989a9b;
  border-radius: 4px;
  padding: 10px;
  position: relative;
}
#content ul.stats li {
  list-style-type: none;
  display: inline-block;
  padding-left: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}
#content ul.stats li.views {
  background: transparent url(img/icons/eye.png) 2px 3px no-repeat;
  border-right: 1px solid #54606a;
  padding-right: 10px;
}
#content ul.stats li.comments {
  background: transparent url(img/icons/comment.png) 5px 3px no-repeat;
  border-right: 1px solid #54606a;
  padding-left: 35px;
  padding-right: 10px;
}
#content ul.stats li.likes {
  background: transparent url(img/icons/heart.png) 2px 3px no-repeat;
  border-right: 1px solid #54606a;
  padding-right: 10px;
}
#content ul.stats li.likes.no-view {
  border-right: none;
}
#content ul.stats li.view {
  padding: 0;
  position: absolute;
  right: 10px;
}
#content ul.stats li.view a:link,
#content ul.stats li.view a:visited {
  top: 8px;
  padding: 5px 7px;
  -webkit-box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  background: #666 url(img/buttons/glare.png) 0 0 repeat-x;
  font-weight: bold;
  text-shadow: 0px 1px 1px #000;
}


/* shot title & meta
---------------------------------------------*/
#content .shot_meta {
  min-height: 50px;
}
#content .shot_meta h2 {
  padding: 0 0 0 65px;
  color: #333;
  text-shadow: 0px 1px 1px #eee;
}
#content .shot_meta img {
  position: absolute;
  vertical-align: top;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px #000;
}
#content .shot_meta h2 span {
  font-weight: normal;
  font-size: 14px;
  display: block;
}
#content .shot_meta h2 span a:link,
#content .shot_meta h2 span a:visited {
  color: #EA4C88;
  font-weight: bold;
}


/* Button styles
---------------------------------------------*/
#content a.big-pink:link,
#content a.big-pink:visited {
  display: block;
  padding: 10px 0;
  -webkit-box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  background: #EA4C88 url(img/buttons/big-glare.png) 0 0 repeat-x;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0px 1px 1px #a14266;
  margin: 10px 0;
  text-align: center;
}
#content a.big-pink:active,
#content a.big-pink-half:active,
#content a.big-pink-third:active,
#content a.big-pink-quarter:active {
  background: #ae446e url(img/buttons/big-glare.png) 0 0 repeat-x;
}
#content a.big-pink-half:link,
#content a.big-pink-half:visited {
  display: inline-block;
  padding: 10px 0;
  -webkit-box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  background: #EA4C88 url(img/buttons/big-glare.png) 0 0 repeat-x;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0px 1px 1px #a14266;
  margin: 10px 0;
  text-align: center;
  width: 49%;
}
#content a.big-pink-third:link,
#content a.big-pink-third:visited {
  display: inline-block;
  padding: 10px 0;
  -webkit-box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  background: #EA4C88 url(img/buttons/big-glare.png) 0 0 repeat-x;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0px 1px 1px #a14266;
  margin: 10px 0;
  text-align: center;
  width: 32.5%;
}
#content a.big-pink-quarter:link,
#content a.big-pink-quarter:visited {
  display: inline-block;
  padding: 10px 0;
  -webkit-box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  background: #EA4C88 url(img/buttons/big-glare.png) 0 0 repeat-x;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0px 1px 1px #a14266;
  margin: 10px 0;
  text-align: center;
  width: 24%;
}


/* player stats
---------------------------------------------*/
#content ul.player_stats {
  margin: 10px 0;
  background: #9d9fa1;
  border: 1px solid #989a9b;
  border-radius: 4px;
  padding: 10px;
  position: relative;
}
#content ul.player_stats li {
  list-style-type: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: px;
  text-align: center;
  width: 23%;
  border-right: 1px solid #666;
}
#content ul.player_stats li:last-child {
  border: none;
}
#content ul.player_stats li span {
  display: block;
  font-size: 24px;
  text-shadow: 0px 1px 1px #ccc;
}


/* comments
---------------------------------------------*/
#comments ul {
  margin: 0;
  -webkit-padding-start: 0;
  background: #ebebeb;
  border: 1px solid #989a9b;
  border-radius: 4px;
}

#comments ul li {
  list-style-type: none;
  padding: 10px;
  border-top: #fff 1px solid;
  border-bottom: #bbb 1px solid;
}
#comments ul li:first-child {
  border-top: none;
}
#comments ul li:last-child {
  border-bottom: none;
}
#comments ul li img {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px #000;
}
#comments a.comment_player_name:link,
#comments a.comment_player_name:visited {
  color: #EA4C88;
  font-weight: bold;
  display: block;
  margin-left: 40px;
  font-size: 12px;
}
#comments span.comment_body {
  display: block;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 10px;
}