#nav
  %h2 Navigation
  %p 
    = link_to raw("popular shots"), {:controller => "shots", :action => "index"}, :class => 'big-pink'
    %a.about{:href => '#about', :class => 'big-pink'} About Hooppps
= render :partial => "shared/about"
