#nav 
  = link_to "popular shots", {:controller => "shots", :action => "index"}, :class => 'button popular'
  = link_to "go to player", {:controller => "player", :action => "search"}, :class => 'button'
  %a.about{:href => '#about', :class => 'button'} About Hooppps
= render :partial => "shared/about"
